extend ./modules/layout.pug

block append head
    title document - page
    link(rel="stylesheet", href="assets/style/all.css")
    script(src="assets/js/vendors.js")
    script(src="assets/js/all.js")

block content
    div page1~~~~~~
block footer
    include ./modules/footer